{% load staticfiles %}
{% load web_extras %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Sistema de Seguimiento de comisiones</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href='{% static "web/css/bootstrap.min.css" %}'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href='{% static "web/css/main.css" %}'>
    {% block extraHead %}{% endblock extraHead %}
</head>
<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div style="width:100%" class="row">
            <div class="col-md-4 col-12">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img style="height:auto; width: 20vmax" class="logo" src="{% static 'web/img/logo.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-md-4 col-12">
                <h1 class="navbar-brand titulo text-center">Comisiones por ventas</h1>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-md-center">
                {% if user.is_authenticated %}
                    <div class="navbar-nav-scroll">
                        <ul class="navbar-nav navbar-expand bd-navbar-nav flex-row">
                            {% if request.user|has_group:"tecnicos" %}
                                <li class="nav-item {% block activeDato %}{% endblock activeDato %}">
                                    <a class="nav-link " href="{% url 'index' %}">Nuevo dato</a>
                                </li>
                            {% endif %}
                            <li class="nav-item {% block activeSeguimiento %}{% endblock activeSeguimiento %}">
                                <a class="nav-link" href="{% url 'seguimiento' %}">Seguimiento</a>
                            </li>
                            <li class="nav-item {% block activeRanking %}{% endblock activeRanking %}">
                                <a class="nav-link" href="{% url 'ranking' %}">Ranking</a>
                            </li>
                            {% if request.user|has_group:"comercial" or request.user|has_group:"administracion" %}
                                <li class="nav-item {% block activeHistorial %}{% endblock activeHistorial %}">
                                    <a class="nav-link" href="{% url 'historial' %}">Historial</a>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="userDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDrop">
                                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>    
        </div>
    </header>
    {% block content %}{% endblock content %}
    <script src='{% static "web/js/jquery-3.2.1.min.js" %}'></script>
    <script src='{% static "web/js/popper.min.js" %}'></script>
    <script src='{% static "web/js/bootstrap.min.js" %}'></script>
    <script>
        $(document).ready(function(){
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $(".navbar").removeClass("navbar-expand");
            }   
        });
    </script>
    {% block extraScripts %}{% endblock extraScripts %}
</body>
</html>