{% extends 'web/base.html' %}
{% block activeDato %}active{% endblock activeDato %}
{% block content %}
<div class="container-fluid">
    <main class="mt-3">
        <form method="post" action="{% url 'dato' %}">
            {% csrf_token %}
            <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="nombre">Nombre</label>
            <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="direccion">Direccion</label>
            <input name="direccion" type="text" class="form-control"  id="direccion" placeholder="Direccion" required>
          </div>
          <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="telefono">Teléfono</label>
            <input name="telefono" type="text" class="form-control" id="telefono" placeholder="Teléfono" required>
          </div>
          <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="nodo">Nodo</label>
            <input name="nodo" type="text" class="form-control" id="nodo" placeholder="Nodo">
          </div>
          <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="correo">Correo</label>
            <input name="correo" type="email" class="form-control" id="email" placeholder="Correo">
          </div>
          <div class="form-group col-md-6 col-sm-12 mx-auto">
            <label for="compartido">¿Dato Compartido?</label>
            <input name="compartido" type="text" class="form-control" id="compartido" placeholder="Ingrese Técnico id  de su compañero">
          </div>
          
          <div class="form-group col-md-6 col-sm-12 mx-auto">
            <button type="submit" class="btn btn-primary mx-auto">Guardar</button>
          </div>
        </form>
    </main>

</div>

{% endblock content %}