{% extends "web/base.html"  %}
{% load web_extras %}
{% block activeRanking %}active{% endblock activeRanking %}
{% block content %}
<div class="container-fluid">
{% if tecnicos %}
    <div class="row">
        <div class="col-12 offset-4 mb-2">
            <h1>Ranking de técnicos</h1>
            <button style="display:none;" id="exportar" class="btn btn-primary offset-6">Exportar</button>
        </div>
    </div>
    <div class="row">
      <div id="tb_tecnicos" class="table-responsive">
            <table id="ranking" class="table table-hover col-12">
                <thead class="thead-light ">
                    <tr>
                      <th scope="col">#</th>
                      <th data-field="nombre">Nombre</th> 
                      <th data-field="ventas">Cantidad de ventas</th>
                      <th data-field="total">Total comisión</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tec in tecnicos %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{tec.nombre}}</td>
                            <td>{{tec.ventas}}</td>
                            <td>{{"$"|addstr:tec.comision}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
      </div>
    </div>
    {% else %}
        <h1 class="offset-4 mt-3">No hay clientes instalados</h1> 
  {% endif %}
</div>
{% endblock content %}
{% block extraScripts %}
<script>
    $(document).ready(function() {
      var grupo = JSON.parse("{{grupo|escapejs}}");
      var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
      $.each(grupo, function(key, value){
        if ((value == 'administracion')&&(!isMobile)){
          $('#exportar').css('display', 'block');
        };
      })
      $("#exportar").click(function(event){
        window.location = '/web/excel_ranking/'
      });
  });
  </script>
{% endblock extraScripts %}
