{% extends "web/base.html"  %}
{% block content %}
<div class="container-fluid">
	 <main class="mt-3">
            <div class="row">
                <div class="col col-sm-9">
                    <h1>Listado de posibles Clientes</h1>
                </div>
            </div>
                <table class="table table-hover">
                    <thead class="thead-inverse">
                        <tr>
                          <th data-field="nombre">Nombre</th> 
                          <th data-field="direccion">Dirección</th>
                          <th data-field="telefono">Teléfono</th>
                          <th data-field="nodo">Nodo</th>
                          <th data-field="correo">Correo</th>
                          <th data-field="tecnico">Tecnico</th>
                          <th data-field="compartido">Id de técnico compartido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.nodo}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.tecnico.tecnico_id}}</td>
                                <td>{{cliente.compartido}}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
                <div class="form-group col-md-6 col-sm-12 mx-auto">
                    <button type="submit" class="btn btn-primary mx-auto">Guardar</button>
                </div>
        </main>
</div>
	
{% endblock content %}