{% extends "web/base.html"  %}
{% block content %}
<div class="container-fluid">
	 <main class="mt-3">
            <div class="row">
                <div class="col col-sm-9">
                    <h1>Potenciales clientes</h1>
                </div>
            </div>
                <table class="table table-responsive table-hover">
                    <thead class="thead-dark">
                        <tr>
                          <th data-field="nombre">Nombre</th> 
                          <th data-field="direccion">Dirección</th>
                          <th data-field="telefono">Teléfono</th>
                          <th data-field="nodo">Nodo</th>
                          <th data-field="correo">Correo</th>
                          <th data-field="tecnico">Tecnico</th>
                          <th data-field="compartido">Id de técnico compartido</th>
                          <th data-field="estado">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.nodo}}</td>
                                <td>{{cliente.email}}</td>
                                <td>{{cliente.tecnico.tecnico_id}}</td>
                                <td>{{cliente.compartido}}</td>
                                <td>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input disabled class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> No contactado
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input disabled class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Contactado
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline disabled">
                                      <label class="form-check-label">
                                        <input id="vendido" class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled> Vendido
                                      </label>
                                    </div>
                                </td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
                <div style="display:None;" class="form-group col-md-6 col-sm-12 mx-auto">
                    <button type="submit" class="btn btn-primary mx-auto">Guardar</button>
                </div>
        </main>
</div>
{% endblock content %}
