{% extends "web/base.html"  %}
{% load staticfiles %}
{% block activeSeguimiento %}active{% endblock activeSeguimiento %}
{% block extraHead %}
  <link rel="stylesheet" href='{% static "web/css/seguimiento.css" %}'>  
{% endblock extraHead %}
{% block content %}
<div class="container-fluid">
      <div class="row">
          <div class="col col-sm-9 offset-4 mt-3 mb-3">
              <h1>Potenciales clientes</h1>
          </div>
      </div>
      <div class="row">
        <form id="seguimiento" class="col-12" id="clientes" method="post" action="{% url 'estados' %}">
        {% csrf_token %}
            <div class="table-responsive">
              <table id="tb_clientes" class="table table-hover">
                  <thead class="thead-light ">
                      <tr>
                        <th data-field="nombre">Nombre</th>
                        <th data-field="clientenro">Número de cliente</th>
                        <th data-field="direccion">Dirección</th>
                        <th data-field="telefono">Teléfono</th>
                        <th data-field="nodo">Nodo</th>
                        <th data-field="correo">Correo</th>
                        <th data-field="tecnico">Tecnico</th>
                        <th data-field="compartido">Compartido con</th>
                        <th data-field="fecha_ing">Fecha de Carga</th>
                        <th data-field="observacion">Observación</th>
                        <th data-field="estado">Estado</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for cliente in clientes %}
                          <tr>
                              <td>{{cliente.nombre}}</td>
                              <td>
                                <div class="form-group">
                                  <input class="form-control clientenro" disabled name="clientenro-{{cliente.pk}}" id="clientenro" value="{{cliente.clientenro}}" type="text">
                                </div>
                              </td>
                              <td>{{cliente.direccion}}</td>
                              <td>{{cliente.telefono}}</td>
                              <td>{{cliente.nodo}}</td>
                              <td>{{cliente.email}}</td>
                              <td>{{cliente.tecnico.nombre}}</td>
                              {% if cliente.tecnico_compartido %}
                                <td>{{cliente.tecnico_compartido.nombre}}</td>
                              {% else %}
                                <td></td>  
                              {% endif %}
                              <td>{{cliente.fecha|date:'d/m/Y H:i:s'}}</td>
                              <td>
                                <div class="form-group disabled">
                                  <textarea style="resize:none;" disabled cols="80" maxlength="300" name="obs-{{cliente.pk}}" class="form-control com" id="obs-{{cliente.pk}}" rows="4">{% if cliente.observacion %}
                                    {{cliente.observacion}}
                                  {% else %}
                                  {% endif %} 
                                  </textarea>
                                </div>
                              </td>
                              <td>
                                  <div class="form-check form-check-inline disabled">
                                    <label class="form-check-label">
                                      <input id="estado-{{cliente.pk}}" name="estado-{{cliente.pk}}" disabled class="form-check-input com" type="radio" value="no" {% if cliente.estado == "NO" or cliente.estado == ""  %} checked="checked"{% endif %}
                                      > No contactado   
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline disabled">
                                    <label class="form-check-label">
                                      <input id="estado-{{cliente.pk}}" disabled name="estado-{{cliente.pk}}" class="form-check-input com" type="radio" value="ct" {% if cliente.estado == "CT" %}
                                        checked="checked"
                                      {% endif %}> Contactado
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline disabled">
                                    <label class="form-check-label">
                                      <input  id="estado-{{cliente.pk}}" disabled name="estado-{{cliente.pk}}" class="form-check-input com" type="radio" value="ve" {% if cliente.estado == "VE" %}checked="checked"
                                      {% endif %} > Vendido
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline disabled">
                                    <label class="form-check-label">
                                      <input  id="estado-{{cliente.pk}}" disabled name="estado-{{cliente.pk}}" class="form-check-input com" type="radio" value="in" {% if cliente.estado == "IN" %}checked="checked"
                                      {% endif %} > Instalado
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline disabled">
                                    <label class="form-check-label">
                                      <input  id="estado-{{cliente.pk}}" disabled name="estado-{{cliente.pk}}" class="form-check-input adm" type="radio" value="li"> Liquidado
                                    </label>
                                  </div>
                              </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
        <div class="form-group col-md-6 col-sm-12 mx-auto">
              <button style="display:None;" id="guardar" type="submit" class="btn btn-primary mx-auto">Guardar</button>
        </div>
      </form>
    </div>
</div>
{% endblock content %}
{% block extraScripts %}
  <script>
    $(document).ready(function() {
      var grupo = JSON.parse("{{grupo|escapejs}}");
      $.each(grupo, function(key, value){
        if (value == 'comercial'){
          $(".form-check-input.com").prop("disabled", false);
          $('#guardar').css('display', 'block');
          $(".form-control.com").prop("disabled", false);
          $(".form-control.clientenro").each(function(key,value){  
            $(this).prop("disabled", false)
          });
        };
        if (value == 'administracion'){
          $(".form-check-input.adm").prop("disabled", false);
          $('#guardar').css('display', 'block');
        };
      })
    });
  </script>
{% endblock extraScripts %}